/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */

@import "base";

/*
 * Toolbar
 */

#toolbar {
  box-shadow: none;
}

/*
 * Body
 */

body {
  margin: 0;
  padding: 0;
  font-family: $base-font-family;
  color: $base-font-color;
  background: #F6F6F6;
}

@media all and (min-width: 768px) {
  
  body {
    background: #F6F6F6 url('../images/bg-body.jpg') no-repeat center top fixed;
    background-size: cover;
  }
}

/*
 * Clouds
 */

.clouds {
  top: 20px;
  left: 0px;
  width: 100%;
  z-index: -5;
  position: absolute;
  height: 384px;
  background: url(../images/clouds.png) repeat-x 0 0;
}

/* Counteract the flash of unstyled text (FOUT) */
/*
.js h1,
.js h2 { 
  opacity: 0;
  @include transition(opacity .25s ease-in-out);
}*/
/* Counteract the FOUT */
/*
.js.wf-active h1,
.js.wf-active h2,
.js.wf-inactive h1,
.js.wf-inactive h2 { 
  opacity: 1;
}*/

h1,
h2 {
  font-family: $title-font-family;
  font-weight: normal;
  letter-spacing: -1px;
}

a {
  color: $link-color;
  text-decoration: none;
  @include transition(color .25s ease-in-out);
}

a:hover {
  color: $base-font-color;
  text-decoration: underline;
}
code {
  border-radius: 3px;
  padding: 0px 5px;
  border: 1px solid #ccc;
  background-color: #e4e4e4;
}

#page {
  margin: 0 auto;
  padding: 0px 40px 0px 40px;
  background: rgba(255,255,255,0.8);
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;

  a,
  a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: #fff;
  }
}



/*
 * User bar
 */
 
.container {
  margin-right: auto;
  margin-left: auto;
}

.navbar {
  position: fixed;
  left: 0px;
  z-index: 100;
  width: 100%;
  overflow: visible;
  @include opacity(0.9);
  @include background-image(linear-gradient(darken($dark-bg-color, 50%), $dark-bg-color));
  
  .container {
    width: 1000px;
	color: $link-color;
  }
  
  li {
    float: left;
    line-height: 20px;
  }
	
  ul{
    margin: 0px;
    list-style-type: none;
  }
	
  li a{
    line-height: normal;
    display: block;
    padding: 8px 0px;
  }
	
  li.active a{
    color: #fff;
  }
	
  li a:hover{
    color: #fff;
  }
	
  nav{
    float: left;
  }
	
  .region-userbar {
    margin: 0;
    padding: 0;
    float: right;
    
	.block-title {
	  font-size: $base-font-size;
    }
	  
	.block {
      float: left;
	}
	
	#block-search-form { /* "Search form" block */
	  input.form-text {
	    font-size: 75%;
	    width: 200px;
		background-color: #eeeeee;
		border-radius: 4px;
	  }
	  
	  button, input[type="button"], input[type="reset"], input[type="submit"] {
	    padding: 0px 12px;
		margin: 8px 0 ;
	  }
    }

	
  }
}





/*
 * Header
 */

#header {
  overflow: hidden;
  padding: 60px 0 40px 0;
  text-align: center;
}

#logo { /* Wrapping link for logo */
  margin: 0;
  padding: 0;

  img {
    vertical-align: bottom;
  }
}

#site-name { /* The name of the website */
  margin: 0;
  @include text-shadow(3px 3px 5px $link-color);

  a:link,
  a:visited {
    color: $base-font-color;
  }
}

#site-slogan { /* The slogan (or tagline) of a website */
  
  @include text-shadow(3px 3px 5px $link-color);
  margin: 10px 0 0 0;
  font-size: 1.25em;
  color: #4f4f4f;
}

.region-header { /* Wrapper for any blocks placed in the header region */
  clear: both; /* Clear the logo */
}

/*
 * Content
 */

#content {
  padding: 40px 0;
  border-bottom: $divider;
}

.region-highlighted {
  margin: 0 0 40px 0;
  padding: 0 0 40px 0;
  border-bottom: $divider;
}

.breadcrumb { /* The path to the current page in the form of a list of links */
  padding: 40px 0;
  border-bottom: $divider;
  ol {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
  margin: 0;
}

th,
td {
  padding: 10px;
}

tr.even,
tr.odd {
  background-color: #f8f8f8;
  border-bottom: $divider;
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */
  padding: 3px 3px 3px 59px;
  color: $base-font-color;
  border: none;
  background: #75d675 url(../images/icon-tick.png) no-repeat 23px center;

  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}

div.warning,
tr.warning { /* Medium priority messages */
  border-color: #e9c75f;
}

div.error,
tr.error { /* High priority messages. See also the .error declaration below. */
  border-color: #e56464;
}

.error { /* Errors that are separate from div.messages status messages. */
  color: $base-font-color;
}

div.warning {
  background: #e9c75f url(../images/icon-warning.png) no-repeat 23px center;
}

div.error {
  background: #e56464 url(../images/icon-cross.png) no-repeat 23px center;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  div.messages {
    background-image: url(../images/icon-tick-2x.png);
    background-size: 16px 16px;
  }
  div.warning {
    background-image: url(../images/icon-warning-2x.png);
    background-size: 16px 16px;
  }
  div.error {
    background-image: url(../images/icon-cross-2x.png);
    background-size: 16px 16px;
  }
}

.messages-inner {
  padding: 15px 20px;
  background: #fff;
}

div.status,
.ok {
  color: $base-font-color;
}

ul.inline { /* List of links generated by theme_links() */
  display: inline;
  padding: 0;

  li {
    display: inline;
    list-style-type: none;
    padding: 0 1em 0 0; /* LTR */
  }
}

.node ul.inline {
  display: block;
  margin: 20px 0 0 0;
}

ul.action-links li {
  margin: 0 1em 0 0;
}

span.field-label { /* The inline field label used by the Fences module */
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
  padding: 0;

  li { /* Each page number in the pager list */
    padding: 0 0.5em;
  }
}

/*
 * Footer
 */

#footer {
  padding: 40px 0;
}

/*
 * Page bottom
 */

.region-bottom { /* Wrapper for any blocks placed in the page bottom region */
  padding: 40px 0;
  border-top: $divider;
}

/*
 * Feed icon
 */

.feed-icon {
  width: 16px;
  height: 16px;
  display: block;
  background: url(../images/icon-rss.png) no-repeat center center;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .feed-icon {
    background-image: url(../images/icon-rss-2x.png);
    background-size: 16px 16px;
  }
}

.feed-icon img {
  display: none;
}

/*
 * User
 */

.profile .user-picture {
  float: none;
}

.profile h3 {
  border-bottom: $divider;
}

.user-signature {
  color: #8f8f8f;
}

/*
 * Forums
 */

#forum table {
  width: 100%;
}

#forum td.forum .icon {
  display: none;
}

/*
 * Poll
 */

#block-poll-recent .poll .title {
  margin: 1.5em 0 1em 0;
}

.poll .bar .foreground {
  background-color: $base-font-color;
}

/*
 * Book
 */

.book-navigation .menu {
  padding: 1.5em 0 0 3em;
  border-top: $divider;
}

.book-navigation .page-links {
  padding: 1.5em 0;
  border-bottom: $divider;
  border-top: $divider;
}

/*
 * Search
 */

.search-form {
  margin-top: 1.5em;
}

.search-form input[type="submit"],
#search-block-form input[type="submit"] {
  margin: 10px 0;
}

.search-results {
  padding: 0;
}

.search-results li {
  margin-bottom: 0;
  padding: 2em 0 0.5em 0;
  border-top: $divider;
}

.search-results .title,
.search-results .search-info {
  font-size: 1em;
}

.search-results .search-snippet-info {
  padding: 10px 0 0;
}

.search-results .search-info {
  color: #8f8f8f;
}

/*
 * Settings
 */

#edit-powermc-layout .form-item {
  display: inline-block;
  margin: 10px 40px 0 0;
}

#edit-powermc-layout label {
  display: inline-block;
  padding: 0 0 90px 0;
  background: url(../images/layout-single.png) no-repeat left bottom;
}

#edit-powermc-layout label[for$=edit-powermc-layout-1] {
  background-image: url(../images/layout-rside.png);
}

#edit-powermc-layout label[for$=edit-powermc-layout-2] {
  background-image: url(../images/layout-lside.png);
}

/*
 * normalize.css specific overrides
 *
 * Adding changes here, as opposed to in normalize.css, allows
 * normalize.css to be easily updated or swapped if necessary.
 */

button,
input,
select,
textarea {
  color: $base-font-color;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  font-family: $base-font-family;
  color: #fff;
  margin: 0 5px 0 0;
  padding: 6px 12px;
  border-radius: 4px;
  border: none;
  background: $link-color;
  @include transition(background .25s ease-in-out);
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  background: $dark-bg-color;
}

button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  background: #222;
}

fieldset {
  margin: 20px 2px;
  border-color: $base-line-color;
}

fieldset legend {
  font-weight: bold;
}

input.form-text { /* Make text fields responsive */
  width: 100%;
  @include box-sizing(border-box);
}

/*
 * Media queries
 */

@media all and (min-width: 768px) {
  body:after { /* Used by script.js to determine breakpoint */
    content: 'minw768';
    display: none;
  }
  #header {
    padding: 60px 0 40px 0;
  }
  #content {
    padding: 80px 0 40px 0;
  }
  .submitted .permalink {
    float: right;
  }
  /* Layout for when both sidebars are present.
     If just one sidebar is present it will fill 100% of the width. */
  .two-sidebars .sidebars .sidebar {
    width: 40%;
    float: left;
    padding-right: 10%;
  }
  /* Multi-column layout. */
  .multi-column.two-sidebars #content,
  .multi-column.one-sidebar #content {
    width: 64%;
    float: left;
  }
  .sidebar-left.two-sidebars #content,
  .sidebar-left.one-sidebar #content {
    float: right;
  }
  .multi-column .sidebars {
    width: 30%;
    float: right;
    padding: 85px 0 0 0;
  }
  .sidebar-left .sidebars {
    float: left;
  }
  .multi-column.two-sidebars .sidebars .sidebar {
    width: 100%;
    float: none;
    padding-right: 0;
  }
  .multi-column .breadcrumb,
  .multi-column #footer,
  .multi-column .region-bottom {
    clear: both;
  }
}
